{% extends "base.html" %}

{% block content %}
    <span style="float: right">
        {% if user in car.drivers.all %}
            <p>You are a driver of this car! <a class="btn btn-danger"
                                                  href="{% url 'taxi:manipulation_with_car' pk=car.pk %}">Delete me from this car</a></p>
        {% else %}
            <p>You are not a driver of this car! <a class="btn btn-success"
                                                      href="{% url 'taxi:manipulation_with_car' pk=car.pk %}">Assign me to this car</a></p>
        {% endif %}
    </span>
    <h1>Model: {{ car.model }}</h1>

    <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>

    <h1>Drivers</h1>
    <hr>
    <ul>
        {% for driver in car.drivers.all %}
            <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
        {% endfor %}
    </ul>
    <hr>

    <a class="btn btn-info" href="{% url 'taxi:car-update' pk=car.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'taxi:car-delete' pk=car.id %}">Delete</a>
{% endblock %}
