{% extends "base.html" %}

{% block content %}
    <h1>
        Car list
        <a style="float: right" class="btn btn-success" href="{% url 'taxi:car-create' %}">Create new car</a>
    </h1>
    {% if car_list %}
        <ul>
            {% for car in car_list %}
                <li>
                    <a href="{% url "taxi:car-detail" pk=car.id %} ">
                    {{ car.model }} ({{ car.manufacturer.name }})</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no cars in taxi</p>
    {% endif %}
{% endblock %}
