{% extends "base.html" %}

{% block content %}
    <h1>
        Car list
        <a style="float: right" class="btn btn-success" href="{% url 'taxi:car-create' %}">Create new car</a>
    </h1>
    {% if car_list %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Country</th>
            </tr>

            {% for car in car_list %}
                <tr>
                    <td>
                        {{ car.id }}
                    </td>
                    <td>
                        <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.model }}</a>
                    </td>
                    <td>
                        {{ car.manufacturer.name }}
                    </td>
                    <td>
                        {{ car.manufacturer.country }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no cars in taxi</p>
    {% endif %}
{% endblock %}
